@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: rgb(238, 174, 185);
  background: radial-gradient(
    circle,
    rgba(238, 174, 185, 1) 0%,
    rgba(148, 158, 233, 1) 100%
  );
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 1.5rem 5rem 1.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
